In [15]:
import pandas as pd
import math

In [2]:
df = pd.read_csv('acoes.csv')
df = df.set_index('Date')
df.index = pd.to_datetime(df.index, format='%Y-%m-%d')
df

            Acao_x  Acao_Y  Acao_Z
Date
2024-01-01   100.0    50.0   200.0
2024-01-02   101.5    50.5   202.0
2024-01-03   100.8    51.2   201.5
2024-01-04   102.0    50.9   203.0
2024-01-05   103.2    51.5   204.5
2024-01-08   102.9    51.3   204.0
2024-01-09   103.5    51.8   205.0
2024-01-10   104.0    52.0   206.0
2024-01-10   103.8    51.9   205.5
2024-01-12   104.5    52.5   206.8
2024-01-15   105.0    52.8   207.5
2024-01-16   104.8    52.7   207.0
2024-01-17   105.5    53.0   208.0
2024-01-18   106.0    53.2   208.5
2024-01-19   106.2    53.5   209.0

In [3]:
daily_return = df.pct_change()
daily_return

              Acao_x    Acao_Y    Acao_Z
Date
2024-01-01       NaN       NaN       NaN
2024-01-02  0.015000  0.010000  0.010000
2024-01-03 -0.006897  0.013861 -0.002475
2024-01-04  0.011905 -0.005859  0.007444
2024-01-05  0.011765  0.011788  0.007389
2024-01-08 -0.002907 -0.003883 -0.002445
2024-01-09  0.005831  0.009747  0.004902
2024-01-10  0.004831  0.003861  0.004878
2024-01-10 -0.001923 -0.001923 -0.002427
2024-01-12  0.006744  0.011561  0.006326
2024-01-15  0.004785  0.005714  0.003385
2024-01-16 -0.001905 -0.001894 -0.002410
2024-01-17  0.006679  0.005693  0.004831
2024-01-18  0.004739  0.003774  0.002404
2024-01-19  0.001887  0.005639  0.002398

In [4]:
cummulative_return = (1 + daily_return).cumprod() - 1
cummulative_return

            Acao_x  Acao_Y  Acao_Z
Date
2024-01-01     NaN     NaN     NaN
2024-01-02   0.015   0.010  0.0100
2024-01-03   0.008   0.024  0.0075
2024-01-04   0.020   0.018  0.0150
2024-01-05   0.032   0.030  0.0225
2024-01-08   0.029   0.026  0.0200
2024-01-09   0.035   0.036  0.0250
2024-01-10   0.040   0.040  0.0300
2024-01-10   0.038   0.038  0.0275
2024-01-12   0.045   0.050  0.0340
2024-01-15   0.050   0.056  0.0375
2024-01-16   0.048   0.054  0.0350
2024-01-17   0.055   0.060  0.0400
2024-01-18   0.060   0.064  0.0425
2024-01-19   0.062   0.070  0.0450

In [14]:
dropedna = cummulative_return.dropna()
annualized_return = (1 + cummulative_return.iloc[-1])**(252/len(dropedna))-1
annualized_return

Acao_x    1.952849
Acao_Y    2.379932
Acao_Z    1.208479
Name: 2024-01-19 00:00:00, dtype: float64

In [16]:
daily_volatility = daily_return.std()
annualized_volatility = daily_volatility * math.sqrt(252)
annualized_volatility

Acao_x    0.098752
Acao_Y    0.099566
Acao_Z    0.066545
dtype: float64

In [ ]:
sharpe = (annualized_return - 0.05)/annualized_volatility
sharpe

Acao_x    19.268999
Acao_Y    23.400881
Acao_Z    17.409001
dtype: float64

In [27]:
print(f'Ação com maior retorno anualizado \n{annualized_return.sort_values(ascending=False)}')
print('-----')
print(f'Ação com maior indice Sharpe \n{sharpe.sort_values(ascending=False)}')

Ação com maior retorno anualizado
Acao_Y    2.379932
Acao_x    1.952849
Acao_Z    1.208479
Name: 2024-01-19 00:00:00, dtype: float64
-----
Ação com maior indice Sharpe
Acao_Y    23.400881
Acao_x    19.268999
Acao_Z    17.409001
dtype: float64